# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# top-most editorconfig file
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.html,*.css,*.scss,*.less}]
indent_style = tab
indent_size = 4

# PHP according to PSR-2
# http://www.php-fig.org/psr/psr-2/
[*.php]
indent_style = spaces
indent_size = 4

[{*.js,*.json}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
